<div class="wrapper" ng-cloak ng-hide="hide" md-theme="myTheme">
		<header>
		    <div layout="row" class="headerDiv" layout-fill layout-sm="column">
		        <md-button layout="row" ng-href="#/home" layout-align="center center">
		        	<div layout="column" layout-fill layout-align="center center">
		        	home
		        	</div>
		        </md-button>
				<md-button ng-click="loadVideos()">
					<div layout="column" class="videoLink" layout-fill layout-align="center center">
					videos
					</div>
				</md-button>
				<md-button ng-href="#/albums">
				<div layout="column" layout-fill layout-align="center center">
					albums
				</div>
				</md-button>
				<md-button ng-href="#/profile">
				<div layout="column" layout-fill layout-align="center center">
					profile
				</div>
				</md-button>
				<md-button ng-href="/logout">
				<div layout="column" layout-fill layout-align="center center">
					logout
				</div>
				</md-button>	
				<div layout="row" class="searchInHeaderDiv" layout-fill layout-align-sm="center center" layout-align="end center">
					<md-input-container md-no-float layout="row" md-is-error="searchErr">
						<md-button ng-click="rootSearch()" class="md-icon-button" aria-label="Search">
				        	<md-icon md-svg-icon="files/icons/magnify.svg"></md-icon>
				    	</md-button>
				    	<input  type="text" style="color:white" placeholder="search" ng-change="errToFalse()" autocomplete="off"  id="search" ng-model="searchStr">
				    </md-input-container>
				</div>
		   	</div>	
		</header>
		<main layout="row" flex>
			<ui-view class="main"></ui-view>
		</main>
</div>
